h1 {
    margin-top: 40px;
    text-align: center;
}

h2 {
    text-align: center;
}


.container-form {
    text-align: center;
}

.form {
    width: 240px;
    height: 30px;
    border-radius: 0px;
    margin-bottom: 4px;
}

.container-button {
    margin-top: 15px;
    text-align: center;
}

.button {
    width: 120px;
    height: 30px;
    justify-content: center;
    align-content: center;
    border: none;
    border-radius: 10px;
    background-color: #557C55;
    color: white;
    text-decoration: none;
}

.volver {
    width: 120px;
    margin-left: 30px;
    color: white;
    font-size: 16px;
    text-decoration: none;
}

.Link-Home {
    width: 120px;
    margin-left: 30px;
    text-shadow: 40px;
    color: #557C55;
    font-size: 16px;
}

.contenedorFinal {
    text-align: center;
}