h1 {
    font-size: 70px;
    text-align: center;
    margin-left: 30px;
}

h2 {
    font-size: 25px;
    margin-left: 60px;
    padding: 20px;
    margin-top: 0px;
}

.precio {

    font-size: 25px;
    margin-left: 170px;
    margin-top: 0px;
}

.containerPpal {
    background-color: #A6CF98;
    width: 80%;
    height: 80%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 15px;
    padding: 30px;
    justify-content: center;
    align-items: center;
    filter: drop-shadow(5px 5px 5px #557C55);
    border-radius: 20px;
    /*     transition: transform 0.2s;
 */

}

.container {
    display: flex;
}

.container img {
    width: 500px;
    height: 500px;
    border-radius: 20px;
    margin: 20px;
}

.card {
    flex-direction: row;
}

.colum {
    flex-direction: column;
    display: flex;
}

.descripcion {
    margin: 20px;
    text-align: justify;
    margin-top: 0px;
}

.agregar {
    width: 250px;
    height: 30px;
    justify-content: center;
    align-content: center;
    border: none;
    border-radius: 10px;
    background-color:  #557C55;
    color: white;
    margin-left: 80px;
    text-decoration: none;
}

